<h2 class="sub-header">User</h2>
<a class="user-edit glyphicon glyphicon-cog"></a>
<p>
	<strong>Email:</strong>
	<%= user.get('email') %>
</p>
<p>
	<strong>Role:</strong>
	<%= user.get('role') %>
</p>