<td><%= user.get('email') %></td>
<td><%= user.get('role') %></td>
<td class="action">
	<a class="glyphicon glyphicon-eye-open show-user"></a>
	<% if (Helpdesk.profile.isAdmin()) {%>
		<a class="glyphicon glyphicon-cog edit-user"></a>
	<% } %>
</td>