<h2 class="sub-header">Tickets</h2>
<a class="create-ticket glyphicon glyphicon-plus"></a>
<div class="table-responsive">
	<form id="search-form">
		<input id='search-input' type="text" class="form-control" placeholder="Search...">
	</form>
	<table class="table table-striped table-bordered table-hover tickets">
		<tr>
			<th>Title</th>
			<th>Status</th>
			<th>User email</th>
			<th></th>
		</tr>
	</table>
</div>