<h2 class="sub-header">New ticket</h2>

<form id="new-ticket" name="ticket">
	<div class="field">
		<label for="title"> title:</label>
		<input type="text" name="title" id="title">
	</div>

	<div class="field">
		<label for="content"> content:</label>
		<input type="text" name="content" id="content">
	</div>

	<div class="actions">
		<input type="submit" value="Create Ticket" />
	</div>
</form>