<td><%= ticket.get('title') %></td>
<td><%= ticket.get('content') %></td>
<td><%= ticket.get('status') %></td>
<td class="action">
	<a class="glyphicon glyphicon-eye-open show-ticket"></a>
	<a class="glyphicon glyphicon-cog edit-ticket"></a>
	<a class="glyphicon glyphicon-remove delete-ticket"></a>
</td>