<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Help system</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag  'application', media: 'all' %>
</head>
<body>
  <div class="container">
    <div class="loading">Loading...</div>
  </div>
  <%= javascript_include_tag 'application' %>

  <%= yield %>
</body>
</html>
